* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.app{
	height: 100vh;
}
.app section:first-child{
	height: 100vh;
}
#components-layout-demo-custom-trigger .trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
	color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
	background: #fff;
  }

  
.container {
	background-color: white;
	width: 100%;
	height: 100%;
}

.chat {
	height: 85%;
	overflow-y: auto;
  overflow-x: hidden;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.textbox {
	height: 15%;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#speech {
	height: 75%;
	width: 70%;
}

.sendBtn {
	background-color: #4cac5f;
	padding: 10px 20px;
	border-radius: 5px;
	color: white;
	display: inline-block;
	height: max-content;
	width: 100%;
	cursor: pointer;
}

.msg {
	max-width: 70%;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.bot {
  width: fit-content;
}

.user {
	align-self: end;
}

.feedback {
	align-self: end;
	margin-bottom: 10px;
}
.css-tg9irj{
	height: 40px !important;
}
.css-52oi9o svg{
	height: 30px !important;
	width: 30px !important;
}
